
.projects-feed {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.project-card-item {
  display: flex;
  background-color: var(--bg-card);
  border: 1px solid var(--border-light);
  min-height: 300px;
}

.card-image-box {
  width: 60%;
  background-color: #eee;
}

.card-image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-info-box {
  width: 40%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.card-info-box h2 {
  font-size: 32px;
  font-weight: 300;
  color: var(--text-title-light);
  margin-bottom: 20px;
}

.card-info-box p {
  font-size: 13px;
  line-height: 1.8;
  color: var(--text-primary);
  margin-bottom: 30px;
}